.HOLMK
.hollogs
*.uo
*.ui
*.dat
*.aux
*.vo
*.d
*.glob
*.cmi
*.cmo
Makefile.coq
Makefile.coq.bak
Makefile.coq.conf
.lia.cache
ottTheory.sig
ottTheory.sml
stlcScript.sml
stlcTheory.sig
stlcTheory.sml
stlc.v
